/* Message flashing */
.flash {
  background-color: #FBB0B0;
  padding: 10px;
  margin:10px;
}

/* Message success*/
.message {
  background-color: #ADEFDE;
  padding: 10px;
  margin:10px;
  text-align: center;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}